{% extends "app_series/header.html" %} <!--we call our base template-->
{% block content %}
<head>
	<meta charset="UTF-8">
	<title>Index</title>
</head>
	<body>
		<h1 style="text-align:center">Discover new tv-shows</h1>
		<form action="{% url 'index' %}" method="post"> <!-- The Post Method sends the data collected from the forms to the index view -->
			{% csrf_token %}
			{{ search_form }}
			<input type="submit" value="Submit" />
		</form>

		{% if object_list %}
			<ul>
				{% for tv_show in object_list %}
					<li>
						<p><a href="{% url 'tv_show_url' tv_show.tmdb_id %}">{{ tv_show.title }}</a></p>
						<p><em>{{ tv_show.overview }}</em></p>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<p>No tv show available</p>
		{% endif %}

		{% if anonymous %}
			<p><a href="{% url 'login' %}">Connexion</a></p>
		{% else %}
			<p><a href="{% url 'logout' %}">Déconnexion</a></p>
		{% endif %}
	</body>
{% endblock %}


