<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Serie</title>
</head>
<body>
<h1 style="text-align:center"><em>{{serie.title}}</em></h1>
<h3 style="text-align:center">{{serie.nb_season}} seasons</h3>
{% if serie.in_production %}
<p>In production</p>
<p>Next Episode : {{next_episode}}</p>
{% else %}
<p>No more in production</p>
{% endif %}
<div>
    <p><em>Summary :</em></p>
    <p>{{serie.overview}}</p>
</div>
<p><em>Follow the next seasons :</em></p>
<ul>
{% for season in liste_saison %}
    <li><a href="{% url 'Season' serie.tmdb_id season %}">Season {{ season }}</a></li>
{% endfor %}
</ul>
</body>
</html>

