<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Serie</title>
</head>
<body>
<h1 style="color: blue;"><em>{{serie.title}}</em></h1>
<h2 style="color: red;">{{serie.nb_season}} saisons</h2>
{% if serie.in_production %}
<h3>En cours de diffusion</h3>
{% else %}
<h3>Diffusion terminée</h3>
{% endif %} !
<p>{{serie.overview}}</p>
<p><em>Accéder au détail des saisons suivantes :</em></p>
<ul>
{% for season in liste_saison %}
    <li><a href="{% url 'Season' serie.tmdb_id season %}">Saison {{ season }}</a></li>
{% endfor %}
</ul>
<div>
<button id="myClickButton" type="button">Click</button>
</div>
</body>
</html>

