
{% extends "app_gitmyseries/base.html" %} <!--we call our base template-->
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Episode</title>
</head>
<body>
    <h1 style="text-align:center"><em>{{episode.season.tv_show.title}}</em></h1>
    <h2 style="text-align:center"><em>{{episode.title}}</em></h2>
    <h3 style="text-align:center"><em>Season {{episode.season.season_nb}}</em> Episode {{episode.episode_nb}}</h3>
    <div>
        <p>Overview:</p>
        <p>{{episode.overview}}</p>
    </div>
</body>
{% endblock %}

