<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<link rel="stylesheet" href="{% static 'css/headbound.css' %}">
<header>
    <h1 class="header" align="center">
        <em>Git my series</em>
    </h1>
    <a class="homepage_button" href="{% url 'index' %}">Homepage</a>
    <a class="homepage_button" href="{% url 'wishlist_url' %}">My Wishlist</a>
</header>
{% block content %} <!--content of each template is inserted-->
{% endblock %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<footer>
</footer>
</html>