{% extends "app_gitmyseries/header.html" %} <!--we call our base template-->
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>WishList</title>
</head>
<body>
    <h1 style="text-align:center">My WishList</h1>
    {% for tv_show in object_list %}
        <div>
            <h3>{{tv_show.title}}</h3>
            {% if tv_show.get_next_episode_run_time %}
                <p>Next Episode : {{tv_show.next_episode_run_time}}</p>
            {% else %}
                <p>No next Episode</p>
            {% endif %}
            <p>{{tv_show.overview}}</p>
            <p><em><a href="{% url 'tv_show_url' tv_show.tmdb_id %}">Check the details</a></em></p>
            <form action="{% url 'wishlist_url' tv_show.tmdb_id %}" method="post"> <!-- The Post Method sends the data collected from the form to the WishList view -->
                {% csrf_token %}
                <button type="submit" name="Submit">Delete</button>
            </form>
        </div>
    {% endfor %}
</body>
{% endblock %}
